 <!DOCTYPE html>
<html>
<head>
    <title>Judit Alpha</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/bower_components/reset-css/reset.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/slicknav/slicknav.css">
    <link rel="stylesheet" type="text/css" href="/_/css/main.css">
    <script src="/bower_components/requirejs/require.js" data-main="/_/js/main.js"></script>

    <script type='html/template' id='gallery-template'>
        <h1>
            <span lang='en'>Gallery</span>
            <span lang='hu'>Galéria</span>
        </h1>
    </script>

    <script type='html/template' id='dress-template'>
        <div lang='en'>
            <h1 class='name'>Name <%= en_name %></h1>
            <img class='thumb' src='<%= thumb %>'>
            <h2 class='tagline'>Tag <%= en_tagline %></h2>
            <h3 class='standfirst'>Tag <%= en_standfirst %></h3>
        </div>
        <div lang='hu'>
            <h1 class='name'>Name <%= hu_name %></h1>
            <img class='thumb' src='<%= thumb %>'>
            <h2 class='tagline'>Tag <%= hu_tagline %></h2>
            <h3 class='standfirst'>Tag <%= hu_standfirst %></h3>
        </div>
    </script>

    <script type='html/template' id='modal-dress-template'>
        <article id='modal-dress-content'>
            <div id='modal-close'>X</div>
            <div class='left'>
                <div id='zoomable-container'>
                    <img id='zoomable' src='<%= zoomable %>'>
                </div>
            </div>
            <div class='right'>
                <div id='dress-info'>
                    <div lang='en'>
                        <h1 class='name'>Name <%= en_name %></h1>
                        <h2 class='tagline'>Tag <%= en_tagline %></h2>
                        <h3 class='standfirst'>Tag <%= en_standfirst %></h3>
                        <div class='blurb'><%= en_blurb %></div>
                    </div>
                    <div lang='hu'>
                        <h1 class='name'>Name <%= hu_name %></h1>
                        <h2 class='tagline'>Tag <%= hu_tagline %></h2>
                        <h3 class='standfirst'>Tag <%= hu_standfirst %></h3>
                        <div class='blurb'><%= hu_blurb %></div>
                    </div>
                </div>
                <div id='zoom-container'>
                    <img id='zoomed'>
                </div>
            </div>
        </article>
    </script>

    <script type='html/template' id='menu-gallery-item-template'>
        <a href="#/gallery/<%= id %>"><%= id %></a>
    </script>

</head>
<body>
    <header style='display:none'>
        <nav id="menu">
            <li><a href="#/home">
                <span lang='en'>Home</span>
                <span lang='hu'>Főoldal</span>
            </a></li>
            <li id='menu-contact'><a href="#/contact">
                <span lang='en'>Contact</span>
                <span lang='hu'>Kapcsolat</span>
            </a></li>
            <li id='language'>
                <span lang='en'>Language</span>
                <span lang='hu'>Nyelv</span>
                <ul>
                    <li class='change-language' data-setlang='en' id='language-english'><a>English</a></li>
                    <li class='change-language' data-setlang='hu' id='language-magyar'><a>Magyar</a></li>
                </ul>
            </li>
        </nav>
    </header>

    <section id='home' style="display:none">
        <picture>
            <source media="(min-width: 64em)" srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <source media="(min-width: 37.5em)" srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <source srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <img src='bower_components/js-vertical-slideshow/eg/img/1.png'>
        </picture>

        <picture>
          <img src='bower_components/js-vertical-slideshow/eg/img/2.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/3.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/4.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/5.png'>
        </picture>
    </section>

    <section id="contact" style='display:none'>
        <h1>
            <span lang='en'>Contact</span>
            <span lang='hu'>Kapcsolat</span>
        </h1>
    </section>

    <footer style='display:none'>
        <p>
            Impressum, etc.
        </p>
        <p>
            Link to Facebook, etc.
        </p>
        <p>
            Reiterate contact info.
        </p>
    </footer>

    <aside id="modal-dress" class="modal" tabindex="-1">
    </aside>

    <div id='loading'>
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
    </div>
</body>
</html>
