 <!DOCTYPE html>
<html>
<head>
    <title>Judit Alpha</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/bower_components/reset-css/reset.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/slicknav/slicknav.css">
    <link rel="stylesheet" type="text/css" href="/_/css/main.css">
    <script src="/bower_components/requirejs/require.js" data-main="_/js/app"></script>

    <script type='html/template' id='basket-template'>
        <article class='basket'>
        <h1>
            <span lang='en'>Basket</span>
            <span lang='hu'>Kosár</span>
        </h1>

        <% if (dresses.length===0){ %>
            <p>
                <span lang='en'>Nothing in your basket</span>
                <span lang='hu'>Semi a Kosárban</span>
            </p>

        <% } else { %>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd"           value="_cart">
                <input type="hidden" name="upload"        value="1">
                <input type="hidden" name="business"      value="<%= config.paypalEmail %>">
                <input type="hidden" name="currency_code" value="HUF">

                <div class='clearfix'>
                    <table>
                    <thead>
                    <% var i=0 %>
                    <% _.each(dresses, function (dress) { i++; %>
                        <tr class='dress'>
                            <td class='thumb'>
                                <a href='#/gallery/<%= dress.gallery %>/<%= dress.id %>'>
                                    <img src="<%= dress.thumb %>">
                                </a>
                            </td>
                            <td class='name'>
                                <p>
                                    <a href='#/gallery/gallery/<%= dress.id %>'>
                                        <span lang='en'><%= dress.en_name  %></span>
                                        <span lang='hu'><%= dress.hu_name  %></span>
                                    </a>
                                </p>
                                <p class='id'>
                                    <a href='#/gallery/<%= dress.gallery %>/<%= dress.id %>'>
                                        <%= dress.id %>
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <%= dress.price || 100000 %> HUF
                                    + <%= dress.shipping || 10000 %> HUF
                                </p>
                                <p class='remove' data-dressid='<%= dress.id %>'>
                                    <span lang='en'>Remove</span>
                                    <span lang='hu'>Remove</span>
                                </p>
                                <input type="hidden" name="item_name_<%= i %>" value="<%= item_names[i] %>">
                                <input type="hidden" name="amount_<%= i %>"
                                       value="<%= dress.price || 100000 %>">
                                <input type="hidden" name="shipping_<%= i %>"
                                       value="<%= dress.shipping || 2000 %>">
                                <input type="hidden" name="shipping2_<%= i %>"
                                       value="<%= dress.shipping || 2000 %>">
                                <input type="hidden" name="handling_<%= i %>"
                                       value="0">
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                        <tr><td>
                            <button class='checkout'>Checkout</button>
                        </td></tr>
                    </tfoot>
                    </table>

                    <div class='help'>
                        <h2>Instructions</h2>
                        <p>
                            <button class='checkout'>Checkout</button>
                        </p>
                        <p>Stuff here about ordering</p>
                        <p>Stuff also about removing items from basket.</p>
                        <p>Include a telephone number.</p>
                    </div>
                </div>
            </form>
        <% } %>
        </article>
    </script>

    <script type='html/template' id='loader-template'>
        <div id='loader'>
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
            <div id='loader-status-outside'>
                <div id='loader-status-inside'></div>
            </div>
        </div>
    </script>

    <script type='html/template' id='gallery-template'>
        <article>
        <h1>
            <span lang='en'>Gallery</span>
            <span lang='hu'>Galéria</span>
        </h1>
        <div id='dresses'></div>
        </article>
    </script>

    <script type='html/template' id='dress-template'>
        <div lang='en'>
            <h1 class='name'>Name <%= en_name %></h1>
            <img class='thumb' id='<% thumbId %>' src='<%= thumb %>'>
            <% if (typeof(en_tagline) !== "undefined") { %>
                <h2 class='tagline'>Tag <%= en_tagline %></h2>
            <% } %>
            <% if (typeof(en_standfirst) !== "undefined") { %>
                <h3 class='standfirst'>Tag <%= en_standfirst %></h3>
            <% } %>
        </div>
        <div lang='hu'>
            <h1 class='name'>Name <%= hu_name %></h1>
            <img class='thumb' id='<% thumbId %>' src='<%= thumb %>'>
            <% if (typeof(hu_tagline) !== "undefined") { %>
                <h2 class='tagline'>Tag <%= hu_tagline %></h2>
            <% } %>
            <% if (typeof(hu_standfirst) !== "undefined") { %>
                <h3 class='standfirst'>Tag <%= hu_standfirst %></h3>
            <% } %>
        </div>
    </script>

    <script type='html/template' id='modal-dress-template'>
        <article id='modal-dress-content'>
            <div id='modal-close'>X</div>
            <div class='left'>
                <div id='zoomable-container'>
                    <img id='zoomable' src='<%= zoomable %>'>
                </div>
            </div>
            <div class='right'>
                <div id='dress-info'>
                    <div lang='en'>
                        <h1 class='name'>Name <%= en_name %></h1>
                        <h2 class='tagline'>Tag <%= en_tagline %></h2>
                        <h3 class='standfirst'>Tag <%= en_standfirst %></h3>
                        <div class='blurb'><%= en_blurb %></div>
                    </div>
                    <div lang='hu'>
                        <h1 class='name'>Name <%= hu_name %></h1>
                        <h2 class='tagline'>Tag <%= hu_tagline %></h2>
                        <h3 class='standfirst'>Tag <%= hu_standfirst %></h3>
                        <div class='blurb'><%= hu_blurb %></div>
                    </div>
                    <div class='bottom'>
                        <span id='basketCtrls' class='basketCtrls'>
                            Please wait....
                        </span> <%= id %>
                    </div>
                </div>
                <div id='zoom-container'>
                    <img id='zoomed'>
                </div>
            </div>
        </article>
    </script>

    <script type='html/template' id='template-addToBasket'>
        <button class='basketToggle'>Add to shopping basket</button>
    </script>
    <script type='html/template' id='template-removeFromBasket'>
        <button class='basketToggle'>Remove from shopping basket.</button>
        <a class='viewBasket' href='#/basket'>View basket</a>
    </script>

    <script type='html/template' id='menu-gallery-item-template'>
        <a href="#/gallery/<%= id %>"><%= id %></a>
    </script>

</head>
<body>
    <header style='display:none'>
        <nav id="menu">
            <ul>
            <li><a href="#/home">
                <span lang='en'>Home</span>
                <span lang='hu'>Főoldal</span>
            </a></li>
            <li id='menu-contact'><a href="#/contact">
                <span lang='en'>Contact</span>
                <span lang='hu'>Kapcsolat</span>
            </a></li>
            <li id='menu-basket'><a href="#/basket">
                <span lang='en'>Basket</span>
                <span lang='hu'>Kosár</span>
            </a></li>
            <li id='language'>
                </span><span lang='en'>Language</span>
                </span><span lang='hu'>Nyelv</span>
                <ul>
                    <li class='change-language' data-setlang='en' id='language-english'><a><span class='flag flag-en'></span>English</a></li>
                    <li class='change-language' data-setlang='hu' id='language-magyar'><a><span class='flag flag-hu'></span>Magyar</a></li>
                </ul>
            </li>
        </ul>
        </nav>
    </header>

    <section id='home' style="display:none">
        <picture>
            <source media="(min-width: 64em)" srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <source media="(min-width: 37.5em)" srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <source srcset="bower_components/js-vertical-slideshow/eg/img/1.png">
            <img src='bower_components/js-vertical-slideshow/eg/img/1.png'>
        </picture>

        <picture>
          <img src='bower_components/js-vertical-slideshow/eg/img/2.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/3.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/4.png'>
        </picture>

        <picture>
            <img src='bower_components/js-vertical-slideshow/eg/img/5.png'>
        </picture>
    </section>

    <section id="contact" style='display:none'>
        <article>
            <h1>
                <span lang='en'>Contact</span>
                <span lang='hu'>Kapcsolat</span>
            </h1>
        </article>
    </section>

    <section id="basket" style='display:none'>
    </section>

    <footer style='display:none'>
        <div class='content'>
            <h2>Impressum</h2>
            <p>
                Impressum, etc.
            </p>

            <h2>Link</h2>
            <p>
                Link to Facebook, etc.
            </p>

            <h2>Contact</h2>
            <p>
                Reiterate contact info.
            </p>
        </div>
    </footer>

    <aside id="modal-dress" class="modal" tabindex="-1">
    </aside>
</body>
</html>
