* {
    Box-sizing: Border-box
}

body {
        margin: 0; padding: 0;
}

.slicknav_menu {
    z-index: 255;
}
.slicknav_menu li {
    text-align: center;
    line-height: 30pt;
}
.slicknav_menu a[role="menuitem"] {
    font-size: 16pt;
}

#menu {
    /*z-index: 100;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    margin: 0;
    margin-bottom: 1em;
    background: black;
}
#menu li {
    display: inline-block;
    list-style-type: none;
}
#menu a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#menu li:hover a {
    background: white;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: black;
}

.slicknav_menu {
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 40em) {
    #menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
}

section {
    margin: 0;
    padding: 1em;
    background: gray;
    width: 100%;
    height: 100%;
    position: relative;
    top: 3.25em; /** Under fixed menu **/
}

#home {
    overflow: auto;
    display: block;
    height: 100%;
}

#home img {
    display: block;
}

.gallery {
    background-color: silver;
}

.gallery h1 {
    font-size: 32pt;
    margin-bottom: 8pt;
}

.gallery .dress {
    display: inline-block;
    padding: 0 1em;
    width: 20%;
    cursor: pointer;
}
.gallery .dress:first-child {
    padding-left:0;
}
.gallery .dress:last-child {
    padding-left:0;
}

.gallery .dress h1 {
    font-size: 18pt;
}
.gallery .dress h2 {
    font-size: 14pt;
}
.gallery .dress h3 {
    font-size: 10pt;
    font-weight: bold;
}

.gallery .dress img.thumb {
    max-width: 100%;
    float: left;
}

.gallery .dress .blurb {
    display:none;
}


#modal-dress {
    z-index: 999;
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: hidden;
    color: white;
}

#modal-dress-content {
    width: 90%;
    height: 90%;
    margin: auto;
    background: white;
    color: black;
    padding: 1em;
}

#modal-close:hover {
    cursor:pointer;
}
#modal-close {
    position: relative;
    float: right;
    right: -2em;
    top: -2em;
    width: 2em;
    height: 2em;
    background: black;
    color: white;
    border-radius: 2em;
    border: 3px double white;
    line-height: 2em;
    text-align: center;
}

#modal-dress h1 {
    font-size: 28pt;
}
#modal-dress h1,
#modal-dress h2,
#modal-dress h3,
#modal-dress p {
    margin-bottom: 8pt;
}

#modal-dress img#zoomable {
    clear: both;
    margin: auto;
    display: block
}

#modal-dress #zoom-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#modal-dress img#zoomed {
    position: absolute;
    width: auto;
    height: auto;
    display: none;
}

.left, .right {
    display: block;
    height: 100%;
    position: relative;
    top: 0; left: 0;
    width: 49.5%;
}
.left {
    float: left;
}
.right {
    float: right;
}




