@import url(http://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);

html, body {
    font-family: 'Oswald', sans-serif;
}
footer,
.standfirst,
.tagline,
.blurb {
}

h1  {
    font-family: 'Great Vibes', cursive;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

.slicknav_menu {
    z-index: 100;
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.slicknav_menu li {
    text-align: center;
    line-height: 30pt;
    font-size: 16pt;
}

/*.slicknav_menu a[role="menuitem"] {
    font-size: 16pt;
}
*/
#menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    padding: 0;
    margin: 0;
    background: black;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
}

#menu ul {
    display: inline;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding: 0; margin: 0;
    top: 0;
    float: left;
    position: relative;
}
#menu a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#menu li a:hover {
    background: white;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: black;
}

#menu li#language {
    float: right;
}

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background:url(flags.png) no-repeat;
    margin-right: 1em;
}

.flag.flag-de {background-position: -16px 0}
.flag.flag-en {background-position: 0 -11px}
.flag.flag-hu {background-position: -16px -11px}


@media screen and (max-width: 40em) {
    #menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
}

section {
    margin: 0;
    padding: 1em;
    background: gray;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 3em; /** Under fixed menu **/
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.2);
}

#home {
    background-color: maroon;
}

#home picture {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.gallery, #dresses {
    background-color: brown;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
    display: block;
}

section h1 {
    font-size: 32pt;
    margin-bottom: 8pt;
    text-shadow: 2pt 0pt #333;
    font-weight: bold;
}

#contact h1 {
    font-size: 48pt;
    margin-bottom: 8pt;
    text-shadow: 2pt 0pt #333;
    font-weight: bold;
    color: white;
}

.gallery .dress {
    z-index: 255;
    background: #ddd;
    color: #333;
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    margin: 0.5em;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border: 1px solid gray;
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.5);
}

.gallery .dress:hover {
    background: white;
    color: black;
    border: 1px solid white;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease, -webkit-box-shadow 0.5s ease, -moz-box-shadow 0.5s ease, box-shadow 0.5s ease;
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.8);
}

.gallery .dress h1 {
    font-size: 18pt;
    font-weight: normal;
    text-shadow: none;
    margin-bottom: 0;
}
.gallery .dress h2 {
    font-size: 10pt;
}
.gallery .dress h3 {
    font-size: 8pt;
    margin-top: 1em;
}

.gallery .dress img.thumb {
    max-width: 100%;
    display: inline-block;
    margin: 8pt auto ;
}

.gallery .dress .blurb {
    display:none;
}


#modal-dress {
    z-index: 999;
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: hidden;
    color: white;
}

#modal-dress-content {
    width: 90%;
    height: 90%;
    margin: auto;
    background: white;
    color: black;
    padding: 1em;
}

#modal-close:hover {
    cursor:pointer;
}
#modal-close {
    position: relative;
    float: right;
    right: -2em;
    top: -2em;
    width: 2em;
    height: 2em;
    background: black;
    color: white;
    border-radius: 2em;
    border: 3px double white;
    line-height: 2em;
    text-align: center;
}

#modal-dress h1 {
    font-size: 28pt;
}
#modal-dress h1,
#modal-dress h2,
#modal-dress h3,
#modal-dress p {
    margin-bottom: 8pt;
}

#modal-dress img#zoomable {
    clear: both;
    margin: auto;
    display: block
}

#modal-dress #zoom-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: -2em;
}
#modal-dress img#zoomed {
    position: absolute;
    width: auto;
    height: auto;
    display: none;
}

.left, .right {
    display: block;
    height: 100%;
    position: relative;
    top: 0; left: 0;
    width: 49.5%;
}
.left {
    float: left;
}
.right {
    float: right;
}

footer {
    font-weight: 300;
    opacity: 0.8;
    background-color: purple;
    color: white;
    margin-top: 3em;
    padding: 3em;
    min-width: 100%;
    min-height: 50%;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
}

footer h1, footer h2, footer h3, footer h4 {
    font-weight: 900;
    text-shadow: 2pt 0pt #333;
    margin-bottom: 0.5em;
    opacity: 0.6;
}

@media screen and (max-width: 60em) {
    footer {
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;
    }
}
@media screen and (max-width: 40em) {
    footer {
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }
}

/* Thanks http://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
.grow { transition: all 0.2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

#loader {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: black;
}
#loader-status-outside {
    border: 2px solid gold;
    border-radius: 1em;
    height: 1em;
    width: 200pt;
    margin: 0 auto;
}
#loader-status-inside {
    background: gold;
    width: 0;
    height: 100%;
}

/* Thanks http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: gold;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
